.rec1{
    height: 500px;
    width: 800px;
    background-image: url(download\ \(2\).jpg);
    /* background:; */
    background-size: cover;
    margin: auto;
    /* background: linear-gradient(to right, rgba(102, 4, 40, 0.839) 10%, rgba(39, 51, 181, 0.727)); */
    background-image: url("pic1.jpeg");
}
.rec2{
    height: 50px;
    width: 800px;
    background-color: rgb(57, 3, 105);
    
}
.rec3{
    height: 60px;
    width: 60px;
    background-image: url(tssotmh79ownqw39ecnb.webp);
    margin-left: 30px;
    background-size: cover;
    position: relative;
    top: -5px;
}
.rec4{
    height: 20px;
    width: 20px;
    margin-left: 45px;
    position: relative;
    top: 20px;
}
.rec5{
    height: 20px;
    width: 20px;
    margin-left: 420px;
    position: relative;
    top: 0px;
}
.rec6{
    /* height: 10px;
    width: 50px; */
    margin-left: 480px;
    position: relative;
    top: 22px;
    position:fixed;
    color:white;
}
.rec7{
    /* height: 10px;
    width: 50px; */
    margin-left:580px;
    position: relative;
    top: 22px;
    position:fixed;
    color: aliceblue;
}
.rec8{
    height: 30px;
    width: 80px;
    background-color: brown;
    margin-left: 680px;
    position: relative;
    top: 17px;
    position:fixed;
    color: aliceblue;
    text-align: center;
    text-decoration: solid;
    border-radius: 8%;
    text-transform:none;
}
.rec8:hover{
    background-color: darkorange;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;  
    transition: 0.3s;
}
.text-1{
    padding: 80px;
}
.big-text{
    font-size: 52px;
    margin: 20px 0;
    color: white
}
a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first{
    background-color: darkorange;
    color: white;
    text-decoration: none;
}
a.btn-second{
    background: transparent;
    border: 1px solid darkorange;
    color: black;
    background-color: darkorange;
    text-decoration: none;
}
a.btn:hover{
background-color: darkorange;
border: none;
color: #fff;
box-shadow: 5px 5px 10px #999;  
transition: 0.3s;      
}